/* style.css */
body{
  background: #D6BBC0;
  color: black;
  font-size: 20px;
  font-family:  'Quicksand', sans-serif;
  text-align: center;
}
h1{
  color: #4C4B63;
  font-weight: bolder;
  font-size: 36px;
  font-family: 'Quicksand', sans-serif;
}
h2 {
  color: #4C4B63;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #AF42AE;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #C585B3;
}
.card {
 background: #C7FFDA;
 margin: 20;
 padding: 20;
}
.block {
 background: white;
 margin: 20;
 padding: 20;
}
#banner {
  background-image: url("https://picsum.photos/1200/400?random");
  background-size: cover;
  padding: 100;
  margin: 40;
}
#banner h.1 {
  color: #4C4B63;
  font-weight: bolder;
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}
#footer {
  font-size: 16;

}
.far {
  font-size: 30;
  margin: 10;
}
.fas {
   font-size: 30;
   margin: 10;
}
.fab {
  font-size: 30;
  margin: 10;
}
  


